.container {
  font-family: 'Lato', sans-serif;
  position: fixed;
  width: 250px;
  height: 100%;
  top: 0;
  z-index: 1000;
  text-align: right;
}

.container input-field{
  -webkit-appearance: none;
  text-align: right;
  font-size: 1.5rem;
}

.container button{
  text-decoration: underline;
  border:none;
  background: none;
  text-align: right;
  font-size: 1.5rem;
}

.container button:hover {
  color: grey;
  cursor: pointer
}
